.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-o1eQw4Xj5a2F);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-qUmLKCE2rfwQ);
  font-family: var(--token-0a6c7E_5lLPY);
  font-size: var(--token-7Z8Ff_rri0US);
  line-height: var(--token-THzpJ5TG1b4q);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-Rcip3m4UCOOe);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible][data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-8mq4ePaLZyor);
  outline-offset: 1px;
  outline-color: var(--token-auqlbdT9a3Wp);
}
.root[data-disabled][data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-0jpdB39JV_OE);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-ux16d1iC9wQd);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-AqeVADzllwnI);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-8Aj3K3_Z_rgE);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-TTh23SYdoPMV);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-xiDIpuOLZsCm);
  font-size: var(--token-L8VPJZkExnmc);
  column-gap: var(--token-8mq4ePaLZyor);
  row-gap: 0px;
  border-radius: var(--token-HD6wznrvD-xo);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-L8VPJZkExnmc);
  line-height: var(--token-xiDIpuOLZsCm);
  column-gap: var(--token-HD6wznrvD-xo);
  row-gap: 0px;
  border-radius: var(--token-HD6wznrvD-xo);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-UCOPmw0s4zfL);
  line-height: var(--token-4gduUxH5XlFI);
  font-weight: 500;
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-UCOPmw0s4zfL);
  line-height: var(--token-4gduUxH5XlFI);
  font-weight: 700;
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-kkmfk3M1Sa5Z);
  border-radius: var(--token-Rcip3m4UCOOe);
}
.softBackgroundcolor_neutral {
  background: var(--token-MY1bFsNe9ogb);
}
.softBackgroundcolor_muted {
  background: var(--token-0-x0ICuRttw-);
}
.softBackgroundcolor_success {
  background: var(--token-z-Jgidf8E8w7);
}
.softBackgroundcolor_warning {
  background: var(--token-2l3T-IqIaC7u);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-_cBovGMuCslr);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.softBackgroundcolor_neutral_type_soft {
  background: var(--token-BA9d4tzRk7Ri);
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-Rcip3m4UCOOe);
  border: 0px solid var(--token-IpJownKSEXIu);
}
.bordercolor_neutral {
  border-color: var(--token-L9ieTr2t8D6Z);
}
.bordercolor_muted {
  border-color: var(--token-GKdGJxUfeAej);
}
.bordercolor_success {
  border-color: var(--token-onNHC80s1W8V);
}
.bordercolor_warning {
  border-color: var(--token-Ys25tYrFd3Mt);
}
.bordercolor_errorDestructive {
  border-color: var(--token-4b9OfdcYvu4X);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-Rcip3m4UCOOe);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-ZLjzGMsLvpk7);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-cnNjJ_2gjffH);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-SBiDCFHKPG4z);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__oUgNi {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-Rcip3m4UCOOe);
  min-width: 0;
  min-height: 0;
  padding: var(--token-Rcip3m4UCOOe) var(--token-oG0O7U6lGZgq);
}
.freeBoxsize_extraSmall__oUgNi2OtO3 {
  padding: var(--token-HD6wznrvD-xo) var(--token-Rcip3m4UCOOe);
}
.freeBoxsize_small__oUgNiHj19N {
  padding: var(--token-Rcip3m4UCOOe) var(--token-qUmLKCE2rfwQ);
}
.freeBoxsize_large__oUgNiF9TjD {
  padding-top: var(--token-HD6wznrvD-xo);
  padding-bottom: var(--token-HD6wznrvD-xo);
}
.freeBoxsize_extraLarge__oUgNimIguE {
  padding-left: var(--token-zvC1C6H3g873);
  padding-right: var(--token-zvC1C6H3g873);
}
.freeBoxroundedFull__oUgNimcYlg {
  padding-right: var(--token-zvC1C6H3g873);
  padding-left: var(--token-zvC1C6H3g873);
}
.freeBox__vzycw {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__vzycw0Hibq {
  display: flex;
}
.slotTargetStart {
  color: var(--token-ozdZyhc7njx8);
}
.slotTargetStartcolor_neutral {
  color: var(--token-hzoCIJffHMUe);
}
.slotTargetStartcolor_muted {
  color: var(--token-gKHVSEXEz7yz);
}
.slotTargetStartcolor_success {
  color: var(--token-SQgzdUvkQ5d8);
}
.slotTargetStartcolor_warning {
  color: var(--token-u4c_0ImwnpGh);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-Cmjbjrw9Wsl4);
}
.slotTargetStarttype_soft {
  color: var(--token-l4WxIGqDV11G);
}
.slotTargetStarttype_bordered {
  color: var(--token-l4WxIGqDV11G);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-L8VPJZkExnmc);
}
.slotTargetStartsize_small {
  font-size: var(--token-L8VPJZkExnmc);
}
.slotTargetStartsize_large {
  font-size: var(--token-UCOPmw0s4zfL);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-UCOPmw0s4zfL);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-CuNNOJzDupsd);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-CuNNOJzDupsd);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-LnTY-siM5uqT);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-LnTY-siM5uqT);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-zfVh7Rog-oCy);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-zfVh7Rog-oCy);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-fijaXeJtPZfi);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-fijaXeJtPZfi);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-LAPCBI2ZKbOz);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-LAPCBI2ZKbOz);
}
.svg__ntMdg {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-ozdZyhc7njx8);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-hzoCIJffHMUe);
}
.slotTargetLabelcolor_muted {
  color: var(--token-gKHVSEXEz7yz);
}
.slotTargetLabelcolor_success {
  color: var(--token-SQgzdUvkQ5d8);
}
.slotTargetLabelcolor_warning {
  color: var(--token-u4c_0ImwnpGh);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-Cmjbjrw9Wsl4);
}
.slotTargetLabeltype_soft {
  color: var(--token-l4WxIGqDV11G);
}
.slotTargetLabeltype_bordered {
  color: var(--token-l4WxIGqDV11G);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-CuNNOJzDupsd);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-LnTY-siM5uqT);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-CuNNOJzDupsd);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-zfVh7Rog-oCy);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-LnTY-siM5uqT);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-fijaXeJtPZfi);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-zfVh7Rog-oCy);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-LAPCBI2ZKbOz);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-fijaXeJtPZfi);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-LAPCBI2ZKbOz);
}
.text__uoEee {
  white-space: pre;
}
.freeBox__t2FwZ {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__t2FwZcRKtT {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-ozdZyhc7njx8);
}
.slotTargetEndcolor_neutral {
  color: var(--token-hzoCIJffHMUe);
}
.slotTargetEndcolor_muted {
  color: var(--token-gKHVSEXEz7yz);
}
.slotTargetEndcolor_success {
  color: var(--token-SQgzdUvkQ5d8);
}
.slotTargetEndcolor_warning {
  color: var(--token-u4c_0ImwnpGh);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-Cmjbjrw9Wsl4);
}
.slotTargetEndtype_soft {
  color: var(--token-l4WxIGqDV11G);
}
.slotTargetEndtype_bordered {
  color: var(--token-l4WxIGqDV11G);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-L8VPJZkExnmc);
}
.slotTargetEndsize_small {
  font-size: var(--token-L8VPJZkExnmc);
}
.slotTargetEndsize_large {
  font-size: var(--token-UCOPmw0s4zfL);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-UCOPmw0s4zfL);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-CuNNOJzDupsd);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-CuNNOJzDupsd);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-LnTY-siM5uqT);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-LnTY-siM5uqT);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-zfVh7Rog-oCy);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-zfVh7Rog-oCy);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-fijaXeJtPZfi);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-fijaXeJtPZfi);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-LAPCBI2ZKbOz);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-LAPCBI2ZKbOz);
}
.svg__yMl7F {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
