@import "../react_aria/plasmic.css"; /* plasmic-import: gmeH6XgPaBtkt51HunAo4g/projectcss */
@import "../antd_5_hostless/plasmic.css"; /* plasmic-import: ohDidvG9XsCeFumugENU3J/projectcss */
@import "../plasmic_cms/plasmic.css"; /* plasmic-import: hjKYmYi6HMwK6TRyk7ew5R/projectcss */
@import "../cms/plasmic.css"; /* plasmic-import: hPz6Q3nQJn9Q8DTBgANGwo/projectcss */
@import url("https://fonts.googleapis.com/css2?family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C700%3B0%2C900&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens_oE3FNJgfJRWctRp1SvVjWz {
  --token-d2i-rWg2X3OY: #007aff;
  --plasmic-token-blue: var(--token-d2i-rWg2X3OY);
  --token-mDlOZ5mwR_id: 1080px;
  --plasmic-token-content-max-width: var(--token-mDlOZ5mwR_id);
  --token-qIVHrqtri7UH: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-qIVHrqtri7UH);
  --token-2yQTxGYG2qLL: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-2yQTxGYG2qLL);
  --token-WncLa6yCbG8u: #000000d9;
  --plasmic-token-light-label: var(--token-WncLa6yCbG8u);
  --token-b-_a81rqz0wW: #05050599;
  --plasmic-token-light-secondary: var(--token-b-_a81rqz0wW);
  --token-YbbTRe2Upfwz: #007aff;
  --plasmic-token-light-blue: var(--token-YbbTRe2Upfwz);
  --token-q4e2isqOeMEw: #ff3b30;
  --plasmic-token-light-red: var(--token-q4e2isqOeMEw);
  --token-BA9d4tzRk7Ri: #ffffff;
  --plasmic-token-white: var(--token-BA9d4tzRk7Ri);
  --token-S2qAAcibtAnh: #ffffffd9;
  --plasmic-token-dark-label: var(--token-S2qAAcibtAnh);
  --token-y8C2Rou67DXU: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-y8C2Rou67DXU);
  --token-S2eiGSPXEULy: #0000001a;
  --plasmic-token-light-quarternary: var(--token-S2eiGSPXEULy);
  --token--rtVurHZn4eh: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token--rtVurHZn4eh);
  --token-fKLJI7Y8CIW_: #32d74b;
  --plasmic-token-dark-green: var(--token-fKLJI7Y8CIW_);
  --token-jgI8meXZE7-6: #0a84ff;
  --plasmic-token-dark-blue: var(--token-jgI8meXZE7-6);
  --token-epbV5ANf_jw0: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-epbV5ANf_jw0);
  --token-2XQ23Vh8a703: #34c759;
  --plasmic-token-light-green: var(--token-2XQ23Vh8a703);
  --token-o1eQw4Xj5a2F: #5856d6;
  --plasmic-token-light-indigo: var(--token-o1eQw4Xj5a2F);
  --token-HD6wznrvD-xo: 0.25rem;
  --plasmic-token-size-4: var(--token-HD6wznrvD-xo);
  --token-rwX0JXS6NsAG: 2rem;
  --plasmic-token-size-32: var(--token-rwX0JXS6NsAG);
  --token-oG0O7U6lGZgq: 0.625rem;
  --plasmic-token-size-10: var(--token-oG0O7U6lGZgq);
  --token-Rcip3m4UCOOe: 0.375rem;
  --plasmic-token-size-6: var(--token-Rcip3m4UCOOe);
  --token-J9EHeRbwIIhR: #6b7280;
  --plasmic-token-basic-text-secondary: var(--token-J9EHeRbwIIhR);
  --token-G8D0FNZg11er: #030712;
  --plasmic-token-basic-text-primary: var(--token-G8D0FNZg11er);
  --token-0a6c7E_5lLPY: Inter;
  --plasmic-token-sans-serif: var(--token-0a6c7E_5lLPY);
  --token-7Z8Ff_rri0US: 1rem;
  --plasmic-token-font-md: var(--token-7Z8Ff_rri0US);
  --token-THzpJ5TG1b4q: 1.25;
  --plasmic-token-line-height-md: var(--token-THzpJ5TG1b4q);
  --token-L8VPJZkExnmc: 0.75rem;
  --plasmic-token-font-sm: var(--token-L8VPJZkExnmc);
  --token-xiDIpuOLZsCm: 1;
  --plasmic-token-line-height-sm: var(--token-xiDIpuOLZsCm);
  --token-UCOPmw0s4zfL: 1.25rem;
  --plasmic-token-font-lg: var(--token-UCOPmw0s4zfL);
  --token-4gduUxH5XlFI: 1.4;
  --plasmic-token-line-height-lg: var(--token-4gduUxH5XlFI);
  --token-TTh23SYdoPMV: #dc2626;
  --plasmic-token-destructive-destructive: var(--token-TTh23SYdoPMV);
  --token-tePbgGRXJ3r0: #d1d5db;
  --plasmic-token-basic-border: var(--token-tePbgGRXJ3r0);
  --token-0-x0ICuRttw-: #f3f4f6;
  --plasmic-token-muted-muted-soft: var(--token-0-x0ICuRttw-);
  --token-hST7cc7FOWsf: #e5e7eb;
  --plasmic-token-muted-muted-soft-hover: var(--token-hST7cc7FOWsf);
  --token-8mq4ePaLZyor: 0.125rem;
  --plasmic-token-size-2: var(--token-8mq4ePaLZyor);
  --token-auqlbdT9a3Wp: #2563eb;
  --plasmic-token-brand-brand: var(--token-auqlbdT9a3Wp);
  --token-qUmLKCE2rfwQ: 0.5rem;
  --plasmic-token-size-8: var(--token-qUmLKCE2rfwQ);
  --token-0jpdB39JV_OE: #374151;
  --plasmic-token-neutral-neutral: var(--token-0jpdB39JV_OE);
  --token-ux16d1iC9wQd: #6b7280;
  --plasmic-token-muted-muted: var(--token-ux16d1iC9wQd);
  --token-AqeVADzllwnI: #16a34a;
  --plasmic-token-success-success: var(--token-AqeVADzllwnI);
  --token-8Aj3K3_Z_rgE: #facc15;
  --plasmic-token-warning-warning: var(--token-8Aj3K3_Z_rgE);
  --token-kkmfk3M1Sa5Z: #dbeafe;
  --plasmic-token-brand-brand-soft: var(--token-kkmfk3M1Sa5Z);
  --token-MY1bFsNe9ogb: #e5e7eb;
  --plasmic-token-neutral-neutral-soft: var(--token-MY1bFsNe9ogb);
  --token-z-Jgidf8E8w7: #dcfce7;
  --plasmic-token-success-success-soft: var(--token-z-Jgidf8E8w7);
  --token-2l3T-IqIaC7u: #fef9c3;
  --plasmic-token-warning-warning-soft: var(--token-2l3T-IqIaC7u);
  --token-_cBovGMuCslr: #fee2e2;
  --plasmic-token-destructive-destructive-soft: var(--token-_cBovGMuCslr);
  --token-IpJownKSEXIu: #93c5fd;
  --plasmic-token-brand-brand-border: var(--token-IpJownKSEXIu);
  --token-L9ieTr2t8D6Z: #d1d5db;
  --plasmic-token-neutral-neutral-border: var(--token-L9ieTr2t8D6Z);
  --token-GKdGJxUfeAej: #e5e7eb;
  --plasmic-token-muted-muted-border: var(--token-GKdGJxUfeAej);
  --token-onNHC80s1W8V: #86efac;
  --plasmic-token-success-success-border: var(--token-onNHC80s1W8V);
  --token-Ys25tYrFd3Mt: #fde047;
  --plasmic-token-warning-warning-border: var(--token-Ys25tYrFd3Mt);
  --token-4b9OfdcYvu4X: #fca5a5;
  --plasmic-token-destructive-destructive-border: var(--token-4b9OfdcYvu4X);
  --token-ZLjzGMsLvpk7: #0000001a;
  --plasmic-token-interaction-hovered: var(--token-ZLjzGMsLvpk7);
  --token-cnNjJ_2gjffH: #ffffff40;
  --plasmic-token-interaction-disabled: var(--token-cnNjJ_2gjffH);
  --token-SBiDCFHKPG4z: #00000033;
  --plasmic-token-interaction-pressed: var(--token-SBiDCFHKPG4z);
  --token-zvC1C6H3g873: 0.75rem;
  --plasmic-token-size-12: var(--token-zvC1C6H3g873);
  --token-ozdZyhc7njx8: #eff6ff;
  --plasmic-token-brand-brand-foreground: var(--token-ozdZyhc7njx8);
  --token-hzoCIJffHMUe: #f9fafb;
  --plasmic-token-neutral-neutral-foreground: var(--token-hzoCIJffHMUe);
  --token-gKHVSEXEz7yz: #e5e7eb;
  --plasmic-token-muted-muted-foreground: var(--token-gKHVSEXEz7yz);
  --token-l4WxIGqDV11G: #1e3a8a;
  --plasmic-token-brand-brand-soft-foreground: var(--token-l4WxIGqDV11G);
  --token-u4c_0ImwnpGh: #422006;
  --plasmic-token-warning-warning-foreground: var(--token-u4c_0ImwnpGh);
  --token-SQgzdUvkQ5d8: #f0fdf4;
  --plasmic-token-success-success-foreground: var(--token-SQgzdUvkQ5d8);
  --token-Cmjbjrw9Wsl4: #fef2f2;
  --plasmic-token-destructive-destructive-foreground: var(--token-Cmjbjrw9Wsl4);
  --token-CuNNOJzDupsd: #111827;
  --plasmic-token-neutral-neutral-soft-foreground: var(--token-CuNNOJzDupsd);
  --token-LnTY-siM5uqT: #6b7280;
  --plasmic-token-muted-muted-soft-foreground: var(--token-LnTY-siM5uqT);
  --token-zfVh7Rog-oCy: #14532d;
  --plasmic-token-success-success-soft-foreground: var(--token-zfVh7Rog-oCy);
  --token-fijaXeJtPZfi: #713f12;
  --plasmic-token-warning-warning-soft-foreground: var(--token-fijaXeJtPZfi);
  --token-LAPCBI2ZKbOz: #7f1d1d;
  --plasmic-token-destructive-destructive-soft-foreground: var(
    --token-LAPCBI2ZKbOz
  );
}

.plasmic_tokens_oE3FNJgfJRWctRp1SvVjWz {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-FKXq8TxSpylF_font-family: "Roboto", sans-serif;
  --mixin-FKXq8TxSpylF_font-size: 16px;
  --mixin-FKXq8TxSpylF_font-weight: 400;
  --mixin-FKXq8TxSpylF_font-style: normal;
  --mixin-FKXq8TxSpylF_color: var(--token-WncLa6yCbG8u);
  --mixin-FKXq8TxSpylF_text-align: left;
  --mixin-FKXq8TxSpylF_text-transform: none;
  --mixin-FKXq8TxSpylF_line-height: 1.5;
  --mixin-FKXq8TxSpylF_letter-spacing: normal;
  --mixin-FKXq8TxSpylF_white-space: pre-wrap;
  --mixin-FKXq8TxSpylF_user-select: text;
  --mixin-FKXq8TxSpylF_text-decoration-line: none;
  --mixin-FKXq8TxSpylF_text-overflow: clip;
  --mixin-AAA-xG98AAUC_white-space: pre-wrap;
  --mixin-FEiSFBfO_jxO_font-family: "Inter", sans-serif;
  --mixin-FEiSFBfO_jxO_color: #000000;
  --mixin-FEiSFBfO_jxO_font-size: 72px;
  --mixin-FEiSFBfO_jxO_font-weight: 900;
  --mixin-FEiSFBfO_jxO_letter-spacing: -4px;
  --mixin-FEiSFBfO_jxO_line-height: 1;
  --mixin-FEiSFBfO_jxO_white-space: pre-wrap;
  --mixin-3Jd4XPoD0VMa_font-family: "Inter", sans-serif;
  --mixin-3Jd4XPoD0VMa_color: #000000;
  --mixin-3Jd4XPoD0VMa_font-size: 32px;
  --mixin-3Jd4XPoD0VMa_font-weight: 600;
  --mixin-3Jd4XPoD0VMa_letter-spacing: -0.8px;
  --mixin-3Jd4XPoD0VMa_line-height: 1.2;
  --mixin-3Jd4XPoD0VMa_white-space: pre-wrap;
  --mixin-oL_NuH9CxI06_font-family: "Inter", sans-serif;
  --mixin-oL_NuH9CxI06_color: #000000;
  --mixin-oL_NuH9CxI06_font-size: 24px;
  --mixin-oL_NuH9CxI06_font-weight: 600;
  --mixin-oL_NuH9CxI06_letter-spacing: -0.5px;
  --mixin-oL_NuH9CxI06_line-height: 1.3;
  --mixin-oL_NuH9CxI06_white-space: pre-wrap;
  --mixin-8WwQ_GLqyFzE_font-family: "Inter", sans-serif;
  --mixin-8WwQ_GLqyFzE_color: #000000;
  --mixin-8WwQ_GLqyFzE_font-size: 20px;
  --mixin-8WwQ_GLqyFzE_font-weight: 600;
  --mixin-8WwQ_GLqyFzE_letter-spacing: -0.3px;
  --mixin-8WwQ_GLqyFzE_line-height: 1.5;
  --mixin-8WwQ_GLqyFzE_white-space: pre-wrap;
  --mixin-6hM0q0zITwsZ_font-family: "Inter", sans-serif;
  --mixin-6hM0q0zITwsZ_color: #000000;
  --mixin-6hM0q0zITwsZ_font-size: 16px;
  --mixin-6hM0q0zITwsZ_font-weight: 600;
  --mixin-6hM0q0zITwsZ_line-height: 1.5;
  --mixin-6hM0q0zITwsZ_white-space: pre-wrap;
  --mixin-FX0vqvb8cmMW_border-left-color: #dddddd;
  --mixin-FX0vqvb8cmMW_border-left-style: solid;
  --mixin-FX0vqvb8cmMW_border-left-width: 3px;
  --mixin-FX0vqvb8cmMW_color: #888888;
  --mixin-FX0vqvb8cmMW_padding-left: 10px;
  --mixin-FX0vqvb8cmMW_white-space: pre-wrap;
  --mixin-K7zHoNSgaLRR_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-K7zHoNSgaLRR_border-bottom-color: #dddddd;
  --mixin-K7zHoNSgaLRR_border-bottom-style: solid;
  --mixin-K7zHoNSgaLRR_border-bottom-width: 1px;
  --mixin-K7zHoNSgaLRR_border-left-color: #dddddd;
  --mixin-K7zHoNSgaLRR_border-left-style: solid;
  --mixin-K7zHoNSgaLRR_border-left-width: 1px;
  --mixin-K7zHoNSgaLRR_border-right-color: #dddddd;
  --mixin-K7zHoNSgaLRR_border-right-style: solid;
  --mixin-K7zHoNSgaLRR_border-right-width: 1px;
  --mixin-K7zHoNSgaLRR_border-top-color: #dddddd;
  --mixin-K7zHoNSgaLRR_border-top-style: solid;
  --mixin-K7zHoNSgaLRR_border-top-width: 1px;
  --mixin-K7zHoNSgaLRR_border-bottom-left-radius: 3px;
  --mixin-K7zHoNSgaLRR_border-bottom-right-radius: 3px;
  --mixin-K7zHoNSgaLRR_border-top-left-radius: 3px;
  --mixin-K7zHoNSgaLRR_border-top-right-radius: 3px;
  --mixin-K7zHoNSgaLRR_font-family: "Inconsolata";
  --mixin-K7zHoNSgaLRR_padding-bottom: 1px;
  --mixin-K7zHoNSgaLRR_padding-left: 4px;
  --mixin-K7zHoNSgaLRR_padding-right: 4px;
  --mixin-K7zHoNSgaLRR_padding-top: 1px;
  --mixin-K7zHoNSgaLRR_white-space: pre-wrap;
  --mixin-m36YNJywXd9G_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-m36YNJywXd9G_border-bottom-color: #dddddd;
  --mixin-m36YNJywXd9G_border-bottom-style: solid;
  --mixin-m36YNJywXd9G_border-bottom-width: 1px;
  --mixin-m36YNJywXd9G_border-left-color: #dddddd;
  --mixin-m36YNJywXd9G_border-left-style: solid;
  --mixin-m36YNJywXd9G_border-left-width: 1px;
  --mixin-m36YNJywXd9G_border-right-color: #dddddd;
  --mixin-m36YNJywXd9G_border-right-style: solid;
  --mixin-m36YNJywXd9G_border-right-width: 1px;
  --mixin-m36YNJywXd9G_border-top-color: #dddddd;
  --mixin-m36YNJywXd9G_border-top-style: solid;
  --mixin-m36YNJywXd9G_border-top-width: 1px;
  --mixin-m36YNJywXd9G_border-bottom-left-radius: 3px;
  --mixin-m36YNJywXd9G_border-bottom-right-radius: 3px;
  --mixin-m36YNJywXd9G_border-top-left-radius: 3px;
  --mixin-m36YNJywXd9G_border-top-right-radius: 3px;
  --mixin-m36YNJywXd9G_font-family: "Inconsolata";
  --mixin-m36YNJywXd9G_padding-bottom: 3px;
  --mixin-m36YNJywXd9G_padding-left: 6px;
  --mixin-m36YNJywXd9G_padding-right: 6px;
  --mixin-m36YNJywXd9G_padding-top: 3px;
  --mixin-m36YNJywXd9G_white-space: pre-wrap;
  --mixin-W28-4CRoQlCn_display: flex;
  --mixin-W28-4CRoQlCn_flex-direction: column;
  --mixin-W28-4CRoQlCn_align-items: stretch;
  --mixin-W28-4CRoQlCn_justify-content: flex-start;
  --mixin-W28-4CRoQlCn_list-style-position: outside;
  --mixin-W28-4CRoQlCn_padding-left: 40px;
  --mixin-W28-4CRoQlCn_position: relative;
  --mixin-W28-4CRoQlCn_list-style-type: decimal;
  --mixin-W28-4CRoQlCn_white-space: pre-wrap;
  --mixin-WTQ7Ndvp1ubY_display: flex;
  --mixin-WTQ7Ndvp1ubY_flex-direction: column;
  --mixin-WTQ7Ndvp1ubY_align-items: stretch;
  --mixin-WTQ7Ndvp1ubY_justify-content: flex-start;
  --mixin-WTQ7Ndvp1ubY_list-style-position: outside;
  --mixin-WTQ7Ndvp1ubY_padding-left: 40px;
  --mixin-WTQ7Ndvp1ubY_position: relative;
  --mixin-WTQ7Ndvp1ubY_list-style-type: disc;
  --mixin-WTQ7Ndvp1ubY_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-g4m7yTfMOL6r_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-g4m7yTfMOL6r_white-space);
  --mixin-gP8HXW8Mltrb_white-space: pre-wrap;
  --plasmic-mixin-h-4_white-space: var(--mixin-gP8HXW8Mltrb_white-space);
  --mixin-gbFkOODRKekg_box-shadow: 0px 0px 0px 3px #007aff80;
  --plasmic-mixin-focus-shadow_box-shadow: var(--mixin-gbFkOODRKekg_box-shadow);
  --mixin-gbFkOODRKekg_white-space: pre-wrap;
  --plasmic-mixin-focus-shadow_white-space: var(
    --mixin-gbFkOODRKekg_white-space
  );
  --mixin-2PTSZQSVGObk_white-space: pre-wrap;
  --plasmic-mixin-10-16-padding_white-space: var(
    --mixin-2PTSZQSVGObk_white-space
  );
  --mixin-U21JSyt_rPik_white-space: pre-wrap;
  --plasmic-mixin-6-radius_white-space: var(--mixin-U21JSyt_rPik_white-space);
  --mixin-QFHnNy-UH8Ih_box-shadow: 0px 0px 0px 4px #0095ff80;
  --plasmic-mixin-focus-outline_box-shadow: var(
    --mixin-QFHnNy-UH8Ih_box-shadow
  );
  --mixin-QFHnNy-UH8Ih_white-space: pre-wrap;
  --plasmic-mixin-focus-outline_white-space: var(
    --mixin-QFHnNy-UH8Ih_white-space
  );
  --mixin-CgV3Nsh37bXz_box-shadow: 0px 1px 1px 1px #0000001a;
  --plasmic-mixin-extra-small-shadow_box-shadow: var(
    --mixin-CgV3Nsh37bXz_box-shadow
  );
  --mixin-CgV3Nsh37bXz_white-space: pre-wrap;
  --plasmic-mixin-extra-small-shadow_white-space: var(
    --mixin-CgV3Nsh37bXz_white-space
  );
  --mixin-owzUjHq21tpm_white-space: pre-wrap;
  --plasmic-mixin-heading-6_white-space: var(--mixin-owzUjHq21tpm_white-space);
  --mixin-cZL2c24nlRig_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-cZL2c24nlRig_box-shadow
  );
  --mixin-cZL2c24nlRig_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-cZL2c24nlRig_white-space
  );
  --mixin-edW6hXejZjaI_white-space: pre-wrap;
  --plasmic-mixin-heading-2_white-space: var(--mixin-edW6hXejZjaI_white-space);
  --mixin-7Ga8NKC-yryg_white-space: pre-wrap;
  --plasmic-mixin-bg-image_white-space: var(--mixin-7Ga8NKC-yryg_white-space);
  --mixin-Us0UXqSSkOQp_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-Us0UXqSSkOQp_white-space);
  --mixin-X5MoLvUVfaSX_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-X5MoLvUVfaSX_white-space
  );
  --mixin-6EL7g92q-yYJ_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-6EL7g92q-yYJ_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  row-gap: 0px;
  column-gap: 0px;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.i) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text i) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.em) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text em) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.strong) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text strong) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz) {
  font-family: var(--mixin-FKXq8TxSpylF_font-family);
  font-size: var(--mixin-FKXq8TxSpylF_font-size);
  font-weight: var(--mixin-FKXq8TxSpylF_font-weight);
  font-style: var(--mixin-FKXq8TxSpylF_font-style);
  color: var(--mixin-FKXq8TxSpylF_color);
  text-align: var(--mixin-FKXq8TxSpylF_text-align);
  text-transform: var(--mixin-FKXq8TxSpylF_text-transform);
  line-height: var(--mixin-FKXq8TxSpylF_line-height);
  letter-spacing: var(--mixin-FKXq8TxSpylF_letter-spacing);
  white-space: var(--mixin-FKXq8TxSpylF_white-space);
}

:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz) a:where(.a__oE3FN),
a:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz.a__oE3FN),
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz .__wab_expr_html_text) a,
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) a,
a:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) {
}

:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz) h1:where(.h1__oE3FN),
h1:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz.h1__oE3FN),
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz .__wab_expr_html_text) h1,
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) h1,
h1:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) {
  font-family: var(--mixin-FEiSFBfO_jxO_font-family);
  color: var(--mixin-FEiSFBfO_jxO_color);
  font-size: var(--mixin-FEiSFBfO_jxO_font-size);
  font-weight: var(--mixin-FEiSFBfO_jxO_font-weight);
  letter-spacing: var(--mixin-FEiSFBfO_jxO_letter-spacing);
  line-height: var(--mixin-FEiSFBfO_jxO_line-height);
}

:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz) h3:where(.h3__oE3FN),
h3:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz.h3__oE3FN),
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz .__wab_expr_html_text) h3,
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) h3,
h3:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) {
  font-family: var(--mixin-3Jd4XPoD0VMa_font-family);
  color: var(--mixin-3Jd4XPoD0VMa_color);
  font-size: var(--mixin-3Jd4XPoD0VMa_font-size);
  font-weight: var(--mixin-3Jd4XPoD0VMa_font-weight);
  letter-spacing: var(--mixin-3Jd4XPoD0VMa_letter-spacing);
  line-height: var(--mixin-3Jd4XPoD0VMa_line-height);
}

:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz) h4:where(.h4__oE3FN),
h4:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz.h4__oE3FN),
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz .__wab_expr_html_text) h4,
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) h4,
h4:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) {
  font-family: var(--mixin-oL_NuH9CxI06_font-family);
  color: var(--mixin-oL_NuH9CxI06_color);
  font-size: var(--mixin-oL_NuH9CxI06_font-size);
  font-weight: var(--mixin-oL_NuH9CxI06_font-weight);
  letter-spacing: var(--mixin-oL_NuH9CxI06_letter-spacing);
  line-height: var(--mixin-oL_NuH9CxI06_line-height);
}

:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz) h5:where(.h5__oE3FN),
h5:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz.h5__oE3FN),
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz .__wab_expr_html_text) h5,
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) h5,
h5:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) {
  font-family: var(--mixin-8WwQ_GLqyFzE_font-family);
  color: var(--mixin-8WwQ_GLqyFzE_color);
  font-size: var(--mixin-8WwQ_GLqyFzE_font-size);
  font-weight: var(--mixin-8WwQ_GLqyFzE_font-weight);
  letter-spacing: var(--mixin-8WwQ_GLqyFzE_letter-spacing);
  line-height: var(--mixin-8WwQ_GLqyFzE_line-height);
}

:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz) h6:where(.h6__oE3FN),
h6:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz.h6__oE3FN),
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz .__wab_expr_html_text) h6,
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) h6,
h6:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) {
  font-family: var(--mixin-6hM0q0zITwsZ_font-family);
  color: var(--mixin-6hM0q0zITwsZ_color);
  font-size: var(--mixin-6hM0q0zITwsZ_font-size);
  font-weight: var(--mixin-6hM0q0zITwsZ_font-weight);
  line-height: var(--mixin-6hM0q0zITwsZ_line-height);
}

:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz) blockquote:where(.blockquote__oE3FN),
blockquote:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz.blockquote__oE3FN),
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz .__wab_expr_html_text) blockquote,
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) blockquote,
blockquote:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) {
  color: var(--mixin-FX0vqvb8cmMW_color);
  padding-left: var(--mixin-FX0vqvb8cmMW_padding-left);
  border-left: var(--mixin-FX0vqvb8cmMW_border-left-width)
    var(--mixin-FX0vqvb8cmMW_border-left-style)
    var(--mixin-FX0vqvb8cmMW_border-left-color);
}

:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz) code:where(.code__oE3FN),
code:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz.code__oE3FN),
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz .__wab_expr_html_text) code,
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) code,
code:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-K7zHoNSgaLRR_font-family);
  border-radius: var(--mixin-K7zHoNSgaLRR_border-top-left-radius)
    var(--mixin-K7zHoNSgaLRR_border-top-right-radius)
    var(--mixin-K7zHoNSgaLRR_border-bottom-right-radius)
    var(--mixin-K7zHoNSgaLRR_border-bottom-left-radius);
  padding: var(--mixin-K7zHoNSgaLRR_padding-top)
    var(--mixin-K7zHoNSgaLRR_padding-right)
    var(--mixin-K7zHoNSgaLRR_padding-bottom)
    var(--mixin-K7zHoNSgaLRR_padding-left);
  border-top: var(--mixin-K7zHoNSgaLRR_border-top-width)
    var(--mixin-K7zHoNSgaLRR_border-top-style)
    var(--mixin-K7zHoNSgaLRR_border-top-color);
  border-right: var(--mixin-K7zHoNSgaLRR_border-right-width)
    var(--mixin-K7zHoNSgaLRR_border-right-style)
    var(--mixin-K7zHoNSgaLRR_border-right-color);
  border-bottom: var(--mixin-K7zHoNSgaLRR_border-bottom-width)
    var(--mixin-K7zHoNSgaLRR_border-bottom-style)
    var(--mixin-K7zHoNSgaLRR_border-bottom-color);
  border-left: var(--mixin-K7zHoNSgaLRR_border-left-width)
    var(--mixin-K7zHoNSgaLRR_border-left-style)
    var(--mixin-K7zHoNSgaLRR_border-left-color);
}

:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz) pre:where(.pre__oE3FN),
pre:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz.pre__oE3FN),
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz .__wab_expr_html_text) pre,
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) pre,
pre:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-m36YNJywXd9G_font-family);
  border-radius: var(--mixin-m36YNJywXd9G_border-top-left-radius)
    var(--mixin-m36YNJywXd9G_border-top-right-radius)
    var(--mixin-m36YNJywXd9G_border-bottom-right-radius)
    var(--mixin-m36YNJywXd9G_border-bottom-left-radius);
  padding: var(--mixin-m36YNJywXd9G_padding-top)
    var(--mixin-m36YNJywXd9G_padding-right)
    var(--mixin-m36YNJywXd9G_padding-bottom)
    var(--mixin-m36YNJywXd9G_padding-left);
  border-top: var(--mixin-m36YNJywXd9G_border-top-width)
    var(--mixin-m36YNJywXd9G_border-top-style)
    var(--mixin-m36YNJywXd9G_border-top-color);
  border-right: var(--mixin-m36YNJywXd9G_border-right-width)
    var(--mixin-m36YNJywXd9G_border-right-style)
    var(--mixin-m36YNJywXd9G_border-right-color);
  border-bottom: var(--mixin-m36YNJywXd9G_border-bottom-width)
    var(--mixin-m36YNJywXd9G_border-bottom-style)
    var(--mixin-m36YNJywXd9G_border-bottom-color);
  border-left: var(--mixin-m36YNJywXd9G_border-left-width)
    var(--mixin-m36YNJywXd9G_border-left-style)
    var(--mixin-m36YNJywXd9G_border-left-color);
}

:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz) ol:where(.ol__oE3FN),
ol:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz.ol__oE3FN),
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz .__wab_expr_html_text) ol,
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) ol,
ol:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) {
  display: var(--mixin-W28-4CRoQlCn_display);
  flex-direction: var(--mixin-W28-4CRoQlCn_flex-direction);
  align-items: var(--mixin-W28-4CRoQlCn_align-items);
  justify-content: var(--mixin-W28-4CRoQlCn_justify-content);
  list-style-position: var(--mixin-W28-4CRoQlCn_list-style-position);
  padding-left: var(--mixin-W28-4CRoQlCn_padding-left);
  position: var(--mixin-W28-4CRoQlCn_position);
  list-style-type: var(--mixin-W28-4CRoQlCn_list-style-type);
  column-gap: var(--mixin-W28-4CRoQlCn_column-gap);
}

:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz) ul:where(.ul__oE3FN),
ul:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz.ul__oE3FN),
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz .__wab_expr_html_text) ul,
:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) ul,
ul:where(.root_reset_oE3FNJgfJRWctRp1SvVjWz_tags) {
  display: var(--mixin-WTQ7Ndvp1ubY_display);
  flex-direction: var(--mixin-WTQ7Ndvp1ubY_flex-direction);
  align-items: var(--mixin-WTQ7Ndvp1ubY_align-items);
  justify-content: var(--mixin-WTQ7Ndvp1ubY_justify-content);
  list-style-position: var(--mixin-WTQ7Ndvp1ubY_list-style-position);
  padding-left: var(--mixin-WTQ7Ndvp1ubY_padding-left);
  position: var(--mixin-WTQ7Ndvp1ubY_position);
  list-style-type: var(--mixin-WTQ7Ndvp1ubY_list-style-type);
  column-gap: var(--mixin-WTQ7Ndvp1ubY_column-gap);
}
