.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.headerHeroSection {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  top: auto;
  left: auto;
  right: auto;
  z-index: auto;
  background:
    linear-gradient(#ffffff80, #ffffff80),
    url("/plasmic/landing_page_starter/images/wavey.png") top 50% left 50% / cover repeat;
  row-gap: 64px;
  padding: 0px 32px 26px;
}
.columns__a1Wr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  max-width: var(--token-mDlOZ5mwR_id);
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-wrap: nowrap;
  column-gap: 64px;
  min-width: 0;
  --plsmc-rc-col-gap: 64px;
}
.columns__a1Wr > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__a1Wr > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__a1Wr {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 64px;
    min-width: 0;
    --plsmc-rc-col-gap: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__a1Wr > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__fj9Mm {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__jzajF {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  row-gap: 32px;
  min-width: 0;
}
.freeBox__pGfQ4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 16px;
}
.text__wSVf {
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  color: var(--token-WncLa6yCbG8u);
}
.text__kS5SU {
  font-size: 20px;
  color: var(--token-b-_a81rqz0wW);
  line-height: 28px;
}
.column__fRdHu {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__ifxBf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 756px;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 8px;
}
.valueProp__v8Ulr:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  margin-bottom: 10px;
  height: 94px;
  min-width: 0;
  flex-shrink: 0;
}
.img__fSaXv {
  position: relative;
  object-fit: none;
  height: 56px;
  display: none;
}
.img__fSaXv > picture > img {
  object-fit: none;
}
.text__musIo {
  color: var(--token-J9EHeRbwIIhR);
}
.text__ea3G {
  color: var(--token--rtVurHZn4eh);
  font-weight: 700;
}
.valueProp__fPwkK:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 97px;
  min-width: 0;
  flex-shrink: 0;
}
.img__hkojG {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
  display: none;
}
.img__hkojG > picture > img {
  object-fit: cover;
}
.text___7R4PL {
  color: var(--token-J9EHeRbwIIhR);
}
.link__rCFd {
  color: #1e5fce;
  font-weight: 700;
}
.valueProp__evWo8:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  height: 97px;
  margin-top: 10px;
  min-width: 0;
  flex-shrink: 0;
}
.img__xmkcz {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
  display: none;
}
.img__xmkcz > picture > img {
  object-fit: cover;
}
.text___6XwEb {
  color: var(--token-J9EHeRbwIIhR);
}
.text__kIZnH {
  color: var(--token-d2i-rWg2X3OY);
  font-weight: 700;
}
.link__cr566 {
  font-weight: 700;
  color: #1e5fce;
}
.valuePropsSection:global(.__wab_instance) {
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  transform: translate3d(0px, 0px, 0px);
  height: 100%;
  flex-shrink: 1;
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.h3 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-WncLa6yCbG8u);
  line-height: 1;
  margin-top: 3px;
  margin-bottom: 18px;
}
.freeBox__mHvVb {
  max-width: var(--token-mDlOZ5mwR_id);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 21px;
  row-gap: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__mHvVb {
    max-width: var(--token-mDlOZ5mwR_id);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 64px;
    row-gap: 24px;
    column-gap: 0px;
  }
}
.freeBox__fYtwJ {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 921px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fYtwJ {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: stretch;
    justify-content: flex-start;
    column-gap: 48px;
    row-gap: 24px;
  }
}
.valueProp__fPOif:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  position: relative;
  left: auto;
  top: auto;
  margin-right: 12px;
  min-width: 0;
  min-height: 0;
}
.svg__kzdm1 {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__bYNnG:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  position: relative;
  left: auto;
  top: auto;
  margin-right: 12px;
  min-width: 0;
  min-height: 0;
}
.svg__smlQy {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.valueProp__iHpWx:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  min-height: 0;
}
.svg__vWrCk {
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: #34c759;
}
.freeBox___3L5Wy {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.cmsDataFetcher:global(.__wab_instance) {
  width: 100%;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  object-fit: cover;
  min-width: 0;
}
.freeBox__miNVv {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.cmsEntryField:global(.__wab_instance) {
  object-fit: cover;
  max-width: 100%;
}
.text__igVtO {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.text__hfp2S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.checkpointsSection:global(.__wab_instance) {
  position: relative;
}
.columns__rE9Qy {
  max-width: var(--token-mDlOZ5mwR_id);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-wrap: nowrap;
  column-gap: 64px;
  min-width: 0;
  --plsmc-rc-col-gap: 64px;
}
.columns__rE9Qy > :nth-child(2n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__rE9Qy > :nth-child(2n + 2) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rE9Qy {
    max-width: var(--token-mDlOZ5mwR_id);
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-shrink: 1;
    column-gap: 64px;
    row-gap: 64px;
    min-width: 0;
    --plsmc-rc-col-gap: 64px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rE9Qy > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__eCwgH {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__yRosW {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  row-gap: 16px;
  min-width: 0;
}
.text__x8JNk {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-fKLJI7Y8CIW_);
}
.h2 {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-S2qAAcibtAnh);
  line-height: 1;
}
.text__qcajm {
  font-size: 20px;
  color: var(--token-y8C2Rou67DXU);
  line-height: 28px;
  height: auto;
}
.freeBox__ppwm5 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__bjmur {
  color: var(--token-jgI8meXZE7-6);
}
.svg__aoyoZ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-jgI8meXZE7-6);
  flex-shrink: 0;
}
.column__wQ0Yz {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___6WXjj {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.listItem__dm6Ea:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .listItem__dm6Ea:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.text__pf0VP {
  color: var(--token-S2qAAcibtAnh);
}
.svg__rEfcc {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-fKLJI7Y8CIW_);
}
.listItem__gVtfD:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__ubtqO {
  color: var(--token-S2qAAcibtAnh);
}
.svg__vnag3 {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-fKLJI7Y8CIW_);
}
.listItem__ln9M6:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__aegHf {
  height: auto;
  color: var(--token-S2qAAcibtAnh);
}
.svg___1YQ6C {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-fKLJI7Y8CIW_);
}
.listItem__tmKpL:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__gbbzt {
  height: auto;
  color: var(--token-S2qAAcibtAnh);
}
.svg__b4LH {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-fKLJI7Y8CIW_);
}
.listItem__plW8K:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__v0Ftx {
  height: auto;
  color: var(--token-S2qAAcibtAnh);
}
.svg__iqcMb {
  position: relative;
  object-fit: cover;
  width: 28px;
  height: 28px;
  color: var(--token-fKLJI7Y8CIW_);
}
.pricingSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__h40Vq {
  max-width: var(--token-mDlOZ5mwR_id);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  row-gap: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h40Vq {
    max-width: var(--token-mDlOZ5mwR_id);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    top: auto;
    left: auto;
    row-gap: 64px;
    column-gap: 0px;
  }
}
.freeBox__vsOr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 16px;
}
.freeBox__pNFcp {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__i4NJu {
  font-size: 20px;
  color: var(--token-y8C2Rou67DXU);
  text-align: center;
  line-height: 28px;
  height: auto;
}
.columns__srHi {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  max-width: 1920px;
  align-items: stretch;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__srHi > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__srHi > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__srHi > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__srHi {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    max-width: 1920px;
    align-items: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    row-gap: 64px;
    min-width: 0;
    --plsmc-rc-col-gap: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__srHi > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__qkIho {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__mQwZa:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__mQwZa:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp___7DaEs:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__g8FJ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___54F5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__yaBZl {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.column__nwYn6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__pqkQv:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp__eywlK:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ifShM {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__k2Axx:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__po0IL {
  height: auto;
}
.svg__rd9Oy {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__cWw1J:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__no1Eo {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp___7Iepu:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.text__mflZ {
  height: auto;
}
.svg__mxkJa {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.column__biKwj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.priceCard__eM6Pd:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .priceCard__eM6Pd:global(.__wab_instance) {
    position: relative;
    width: 100%;
    min-width: 0;
  }
}
.valueProp__tRqk:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__vav1Q {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__njZ8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__zwWz9 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.shopBannersSection:global(.__wab_instance) {
  position: relative;
  display: none;
}
.freeBox___3QoFj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  row-gap: 32px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___3QoFj {
    position: relative;
  }
}
.text___5W20G {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__aZSaQ {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-WncLa6yCbG8u);
  line-height: 1;
  height: auto;
}
.freeBox___0Mf6P {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__cgAno {
  color: var(--token-jgI8meXZE7-6);
  font-weight: 700;
  margin-bottom: 0px;
}
.svg__s6WyE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-jgI8meXZE7-6);
  flex-shrink: 0;
}
.freeBox__j5Iv5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 1920px;
  width: 100%;
  column-gap: 32px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__j5Iv5 {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: stretch;
    justify-content: flex-start;
    max-width: 1920px;
    width: 100%;
    row-gap: 32px;
    column-gap: 0px;
    min-width: 0;
  }
}
.text__fLdu {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__lyN3X {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-WncLa6yCbG8u);
  line-height: 1;
  height: auto;
  user-select: text;
  white-space: pre-wrap;
}
.freeBox__xiKl4 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  flex-grow: 0;
  padding: 0px;
}
.link__v7ED {
  color: var(--token-jgI8meXZE7-6);
  font-weight: 700;
  white-space: pre;
}
.svg___3E9B0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-jgI8meXZE7-6);
  flex-shrink: 0;
}
.banner__yxz7G:global(.__wab_instance) {
  position: relative;
}
.text__c50V {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
}
.text__w9Vdt {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-WncLa6yCbG8u);
  line-height: 1;
  height: auto;
}
.freeBox__lfq0Q {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__o2YOr {
  color: var(--token-jgI8meXZE7-6);
  font-weight: 700;
  white-space: pre;
}
.svg___2UaZj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: var(--token-jgI8meXZE7-6);
  flex-shrink: 0;
}
.logoCloudSection:global(.__wab_instance) {
  position: relative;
}
.freeBox___9OeZq {
  max-width: var(--token-mDlOZ5mwR_id);
  display: flex;
  position: relative;
  left: auto;
  top: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  column-gap: 64px;
  row-gap: 64px;
}
.img___3BdT {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img___3BdT > picture > img {
  object-fit: cover;
}
.img__tlxN1 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__tlxN1 > picture > img {
  object-fit: cover;
}
.img__cQ7B {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__cQ7B > picture > img {
  object-fit: cover;
}
.img__aU8Kh {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__aU8Kh > picture > img {
  object-fit: cover;
}
.img__aQ4A {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  height: 48px;
}
.img__aQ4A > picture > img {
  object-fit: cover;
}
.testimonialsSection:global(.__wab_instance) {
  position: relative;
}
.columns__f2VQ1 {
  max-width: var(--token-mDlOZ5mwR_id);
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-wrap: nowrap;
  column-gap: 32px;
  row-gap: 32px;
  min-width: 0;
  --plsmc-rc-col-gap: 32px;
  padding: 8px;
}
.columns__f2VQ1 > :nth-child(3n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__f2VQ1 > :nth-child(3n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__f2VQ1 > :nth-child(3n + 3) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f2VQ1 {
    max-width: var(--token-mDlOZ5mwR_id);
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    column-gap: 32px;
    row-gap: 32px;
    min-width: 0;
    --plsmc-rc-col-gap: 32px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__f2VQ1 > :nth-child(1n + 1) {
    width: calc((100% - 0 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__o7Shc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__eWxMe:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__blpBb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__aOdMi:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.column__tlwRr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.testimonial__g2AkY:global(.__wab_instance) {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__jtbFy {
  height: auto;
}
.callToActionSection:global(.__wab_instance) {
  position: relative;
}
.freeBox__lapJg {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 16px;
}
.text__lVlCj {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  height: auto;
  color: var(--token-S2qAAcibtAnh);
}
.text__q10Ea {
  font-size: 48px;
  font-weight: 800;
  color: var(--token-S2qAAcibtAnh);
  line-height: 1;
}
.text__b2Dfa {
  font-size: 20px;
  color: var(--token-y8C2Rou67DXU);
  line-height: 28px;
}
.freeBox___9Vh1P {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 16px;
}
.button__ypNvw:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__jCzD3 {
  position: relative;
  height: 1em;
}
.text___5UIiY {
  white-space: pre;
}
.svg__dMaRo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.link__db5SJ {
  color: var(--token-J9EHeRbwIIhR);
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jGrPx {
    display: block;
  }
}
